<div class="fingerprint">
  <div class="fingerprint__thumbnail">
    <img class="fingerprint__blur" src={{imgSource}}>
    <img class="fingerprint__image" src={{imgSource}}>
    <div class="fingerprint__ring"></div>
    <div class="fingerprint__ring fingerprint__ring--outer"></div>
  </div>
  <div class="fingerprint__label">
    <p>{{fingerprint}}</p>
    <div class='flex-row'>
      <div class='fingerprint__label'>
        <p>Visits:{{count}}</p>
        <p>{{os}}</p>
        <p class="capital">{{browser}}</p>
      </div>
      <img class="os-image" src={{osImage}}>
    </div>
  </div>
</div>